<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <script src="vue.js"></script>

    <title>WEBhandy</title>

    <style>
      .lightOn{
        background-color:yellow;
      }
    </style>
  </head>

  <body>
    <div id="app" class="container">


  <!-- columns should be the immediate child of a .row -->
  <div class="row">
    <div class="columns" style="text-align:center"><h1>{{title}}</h1></div>
  </div>
    <div class="row">
        <h4>Switches</h4>
    </div>
    <label>Switch</label>
      <div class="row">
      <div class="one-third column"><input @change="saveNumbers" type="number" v-model="switchNumber"/></div>
      <div class="one-third column"><button @click="switchLeft" :class="{ lightOn: isLeft }">Switch Left</button></div>
     <div class="one-third column"><button @click="switchRight" :class="{ lightOn: isRight }">Switch Right</button></div></div>


    <div class="row">
        <h4>Locomotives</h4>
    </div>
    <label>Loco</label>
     <div class="row" style="text-align:center">
       <div class="two-thirds column"><input @change="saveNumbers" type="number" min="1" max="24" v-model="locoNumber"/></div>
      <div class="one-third column"><button @click="locoLight" :class="{ lightOn: currentLight }">LIGHT</button></div>

      </div>
      <div class="row">
        <div class="column" style="text-align:center">Current Speed: {{currentSpeed}}</button></div>
      </div>
        <div class="row">
      <div class="one-third column" style="text-align:center"><button @click="locoBackward">&lt;&lt;&lt;</button></div>
      <div class="one-third column" style="text-align:center"><button @click="locoStop">Stop</button></div>
     <div class="one-third column" style="text-align:center"><button @click="locoForward">&gt;&gt;&gt;</button></div>
    </div>
    <div class="row">
    <div class="three column" style="text-align:center"><button @click="locoFunction(1)">Function 1</button></div>
    <div class="three column" style="text-align:center"><button @click="locoFunction(2)">Function 2</button></div>
    <div class="three column" style="text-align:center"><button @click="locoFunction(3)">Function 3</button></div>
    </div>

  </div>

    <script>
      const App = new Vue({
        el: '#app',
        data: {
          title: 'LGB WEBhandy',
          socket: null,
          switchNumber: 0,
          locoNumber: 0,
          locoStates: [
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          {Speed: 0,Light: false},
          ],
          accStates: []
        },
        computed:{
          isLeft(){
            if(!this.switchNumber || this.switchNumber >= this.accStates.length) {
              return false;
            }
            return this.accStates[this.switchNumber] == 1;
          },
          isRight(){
            if(!this.switchNumber || this.switchNumber >= this.accStates.length) {
              return false;
            }
            return this.accStates[this.switchNumber] == 2;
          },
          currentSpeed(){
            if(!this.locoNumber || this.locoNumber === 0) {
              return 0;
            }
            return this.locoStates[this.locoNumber-1].Speed
          },
          currentLight(){
            if(!this.locoNumber || this.locoNumber === 0) {
              return false;
            }
            return this.locoStates[this.locoNumber-1].Light
          }
        },
        created(){
        this.switchNumber = localStorage.getItem('currentSwitch') | 0;
        this.locoNumber = localStorage.getItem('currentLoco') | 0;

        for (let i = 0; i< 256; i++) {
          this.accStates.push(0);
        }

        //this.getLocoSpeed(this.locoNumber);


        socket = new WebSocket("ws://"+window.location.host+"/ws");
        console.log("Attempting Connection...");

        socket.onopen = () => {
            console.log("Successfully Connected");
        };
        socket.onclose = event => {
            console.log("Socket Closed Connection: ", event);
        };

        socket.onerror = error => {
            alert("Socket Error: ", error);
        };

        socket.onmessage = data => {
          console.log("Data: ", data.data);

          if (data.data.startsWith("lsc:")) {
            let elements = data.data.split(":");
            if (elements.length !== 4) {
              console.log("Invalid length for lsc message")
              return;
            }
            let loco = parseInt(elements[1])-1;
            let speed = parseInt(elements[2]);
            let light = elements[3] === "true";
            this.locoStates[loco].Speed = speed;
            this.locoStates[loco].Light = light;


          }
          if (data.data.startsWith("as:")) {
            // Initial accesory state
            let elements = data.data.substring(3).split(":");
            if (elements.length !== 256) {
              console.log("Invalid length for as message", elements.length)
              return;
            }
            let pos = 0;
            for(state of elements) {
              if (state === "1") {
                Vue.set(this.accStates, pos, 1);
              } else {
                Vue.set(this.accStates, pos, 2);
              }
              pos++;
            }
            }
          if (data.data.startsWith("asc:")) {
            // accesory state change

            let elements = data.data.split(":");
            if (elements.length !== 3) {
              console.log("Invalid length for asc message", elements.length)
              return;
            }
            let pos = parseInt(elements[1]);
            if (elements[2] === "true") {
              Vue.set(this.accStates, pos, 1);
              } else {
                Vue.set(this.accStates, pos, 2);
              }
            }
        };
        },
        methods:{
          saveNumbers(){
            localStorage.setItem('currentSwitch', this.switchNumber);
            localStorage.setItem('currentLoco', this.locoNumber);
          },
          switchRight(){
            socket.send(`sa:${this.switchNumber}:0`)
          },
          switchLeft(){
            socket.send(`sa:${this.switchNumber}:1`)
          },
          locoLight(){
            socket.send(`ll:${this.locoNumber}`)
          },
          locoBackward(){
            socket.send(`lb:${this.locoNumber}`)
          },
          locoStop(){
            socket.send(`ls:${this.locoNumber}`)
          },
          locoForward(){
            socket.send(`lf:${this.locoNumber}`)
          },
          locoFunction(functionNumber){
            socket.send(`lfun:${this.locoNumber}:${functionNumber}`)
          },
        }
      })
    </script>
  </body>
</html>
