<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <script src="vue.js"></script>

    <title>WEBhandy</title>
  </head>

  <body>
    <div id="app" class="container">


  <!-- columns should be the immediate child of a .row -->
  <div class="row">
    <div class="columns" style="text-align:center"><h1>{{title}}</h1></div>
  </div>
    <div class="row">
        <h4>Switches</h4>
    </div>
    <label>Switch</label>
      <div class="row">
      <div class="one-third column"><input @change="saveNumbers" type="number" v-model="switchNumber"/></div>
      <div class="one-third column"><button @click="switchLeft">Switch Left</button></div>
     <div class="one-third column"><button @click="switchRight">Switch Right</button></div>
        </div>


    <div class="row">
        <h4>Locomotives</h4>
    </div>
    <label>Loco</label>
     <div class="row" style="text-align:center">
       <div class="two-thirds column"><input @change="saveNumbers" type="number" v-model="locoNumber"/></div>
      <div class="one-third column"><button @click="locoLight">LIGHT</button></div>

      </div>
        <div class="row">
      <div class="one-third column" style="text-align:center"><button @click="locoBackward">&lt;&lt;&lt;</button></div>
      <div class="one-third column" style="text-align:center"><button @click="locoStop">Stop</button></div>
     <div class="one-third column" style="text-align:center"><button @click="locoForward">&gt;&gt;&gt;</button></div>
    </div>
    <div class="row">
    <div class="three column" style="text-align:center"><button @click="locoFunction(1)">Function 1</button></div>
    </div>

  </div>

    <script>
      const App = new Vue({
        el: '#app',
        data: {
          title: 'LGB WEBhandy',
          socket: null,
          switchNumber: 0,
          locoNumber: 7,
        },
        created(){
        this.switchNumber = localStorage.getItem('currentSwitch') | 0;
        this.locoNumber = localStorage.getItem('currentLoco') | 0;

        socket = new WebSocket("ws://"+window.location.host+"/ws");
        console.log("Attempting Connection...");

        socket.onopen = () => {
            console.log("Successfully Connected");
        };
        socket.onclose = event => {
            console.log("Socket Closed Connection: ", event);
        };

        socket.onerror = error => {
            alert("Socket Error: ", error);
        };
        },
        methods:{
          saveNumbers(){
            localStorage.setItem('currentSwitch', this.switchNumber);
            localStorage.setItem('currentLoco', this.locoNumber);
          },
          switchRight(){
            socket.send(`sa:${this.switchNumber}:0`)
          },
          switchLeft(){
            socket.send(`sa:${this.switchNumber}:1`)
          },
          locoLight(){
            socket.send(`ll:${this.locoNumber}`)
          },
          locoBackward(){
            socket.send(`lb:${this.locoNumber}`)
          },
          locoStop(){
            socket.send(`ls:${this.locoNumber}`)
          },
          locoForward(){
            socket.send(`lf:${this.locoNumber}`)
          },
          locoFunction(functionNumber){
            socket.send(`lfun:${this.locoNumber}:${functionNumber}`)
          },
        }
      })
    </script>
  </body>
</html>
